In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (10,20)

In [11]:
df1 = pd.read_csv('Pakistan_estate.csv')
df1.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2/4/2019,NaN,NaN,1089.004
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,5/4/2019,NaN,NaN,15246.056
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,7/17/2019,NaN,NaN,2178.008
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,4/5/2019,NaN,NaN,10890.000
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008

In [12]:
df1.isnull().sum()

property_id          0
location_id          0
page_url             0
property_type        0
price                0
location             0
city                 0
province_name        0
latitude             0
longitude            0
baths                0
purpose              0
bedrooms             0
date_added           0
agency           44071
agent            44072
Total_Area           0
dtype: int64

In [20]:
df2 = df1.drop(['property_id','location_id','purpose','date_added','agency','agent','page_url','latitude','longitude','province_name'],axis='columns')
df2.head()

  property_type     price     location       city  baths  bedrooms  Total_Area
0          Flat  10000000         G-10  Islamabad      2         2    1089.004
1          Flat   6900000         E-11  Islamabad      3         3   15246.056
2         House  16500000         G-15  Islamabad      6         5    2178.008
3         House  43500000    Bani Gala  Islamabad      4         4   10890.000
4         House   7000000  DHA Defence  Islamabad      3         3    2178.008

In [21]:
df2.isnull().sum()

property_type    0
price            0
location         0
city             0
baths            0
bedrooms         0
Total_Area       0
dtype: int64

In [26]:
df2.groupby('city')['city'].agg('count')

city
Faisalabad     8133
Islamabad     37426
Karachi       60484
Lahore        41427
Rawalpindi    20976
Name: city, dtype: int64

In [27]:
df2.groupby('property_type')['property_type'].agg('count')

property_type
Farm House          657
Flat              38238
House            105468
Lower Portion      9229
Penthouse           395
Room                685
Upper Portion     13774
Name: property_type, dtype: int64

In [31]:
df2['bedrooms'].unique()

array([ 2,  3,  5,  4,  8,  7,  0,  1,  6, 10, 12,  9, 11, 14, 15, 16, 13,
       18, 28, 25, 21, 68, 27], dtype=int64)

In [ ]:
def plot_scatter_chart(df,location):
    bhk2 = df[(df.location==location) & (df.bhk==2)]
    bhk3 = df[(df.location==location) & (df.bhk==3)]
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(bhk2.total_sqft,bhk2.price_per_sqft,color='blue',label='2 BHK', s=50)
    plt.scatter(bhk3.total_sqft,bhk3.price_per_sqft,marker='+',color='green',label='3 BHK', s=50)    
    plt.xlabel('Total Square Feet Area')
    plt.ylabel('Price Per Square Feet')
    plt.title(location)
    plt.legend()
    plot_scatter_chart(df7,'Rajaji Nagar')